#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
}

.conversionForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 16px;
    border-radius: 18px;
    max-width: 300px;

    font-size: 22px;

    background-color: #eeeeee;
    box-shadow: 10px 10px #808080 ;
}

.conversionForm .formHeader {
    display: flex;
     margin-block-start: 12px;
}

.conversionForm .formHeader img {
    height: 30px;
    width: 30px;
    margin-left: auto;
}

.conversionForm .formHeader h1 {
    margin-block-start: 0;
    font-size: 40px;
}

.conversionForm select {
    border-radius: 8px;
    border: solid 2px #209478;
}

.message-error {
    color: #af1515;
}

.conversionForm select:focus {
    outline: 0;
}

.conversionForm input, select {
    padding: 6px 10px;
    font-size: 16px;
    margin: 0px 12px;
}

.conversionForm .amount {
    border: 0;
    border-radius: 8px;
    color: #414141;
    padding: 8px;

    transition: background-color 0.3s;
}

.conversionForm .amount:hover {
    background-color: #dedede;
}

.conversionForm .amount:focus {
    outline: 0;
}

.conversionBtn {
    border: 0;
    border-radius: 16px;
    padding: 12px 24px;

    font-size: 20px;
    color: white;

    background-color: #34b595;
    transition: background-color 0.3s;
}

.conversionBtn:hover {
    background-color: #209478;
}